@import "./variables";

@mixin xs	{ // 0-599
  @media screen and (max-width: $screen-sm-min - 1px) {
    @content;
  }
}
@mixin sm	{ // 600-959
  @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1px) {
    @content;
  }
}
@mixin md	{ // 960-1279
  @media screen and (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1px) {
    @content;
  }
}
@mixin lg { // 1280-1919
  @media screen and (min-width: $screen-lg-min) and (max-width: $screen-xl-min - 1px) {
    @content;
  }
}
@mixin xl { // 1920-5000
  @media screen and (min-width: $screen-xl-min) {
    @content;
  }
}

@mixin lt-sm { // - 599
  @media screen and (max-width: $screen-sm-min - 1px) {
    @content;
  }
}
@mixin lt-md { // - 959
  @media screen and (max-width: $screen-md-min - 1px) {
    @content;
  }
}
@mixin lt-lg { // - 1279
  @media screen and (max-width: $screen-lg-min - 1px) {
    @content;
  }
}
@mixin lt-xl { // -1919
  @media screen and (max-width: $screen-xl-min - 1px) {
    @content;
  }
}

@mixin gt-xs { // 600-
  @media screen and (min-width: $screen-sm-min) {
    @content;
  }
}
@mixin gt-sm { // 960
  @media screen and (min-width: $screen-md-min) {
    @content;
  }
}
@mixin gt-md { // 1280-
  @media screen and (min-width: $screen-lg-min) {
    @content;
  }
}
@mixin gt-lg {
  @media screen and (min-width: $screen-xl-min) {
    @content;
  }
}

@mixin after-child-element($num) {
  &:nth-child(n+#{$num+1}) {
    @content;
  }
}

@mixin first {
  &:nth-child(1) {
    @content;
  }
}

@mixin last {
  &:nth-last-child(1) {
    @content;
  }
}

@mixin first-and-last {
  &:nth-child(1),
  &:nth-last-child(1) {
    @content;
  }
}

@mixin hov {
  &:hover {
    @content;
  }
}

@mixin radius($amount) {
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin animation($value) {
  animation: $value;
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
    // transform: translateY(60px);
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animationAppear03s {
  @include animation(fadeIn 0.3s forwards);
}

.animationDissappear03s {
  @include animation(fadeOut 0.3s forwards);
}

.animationAppear05s {
  @include animation(fadeIn 0.5s forwards);
}

.animationAppear1s {
  @include animation(fadeIn 1s forwards);
}